<div class="desktop-widget shadow-high">
    <div class="fio text">
        {{this.pacient.fio}}
    </div>
    <div class="relations-fields">

    </div>
    <div class="analysis-field">
        <label class="text">Заключение врача: </label>
    </div>
    <div class="conclusion-field">
        <label class="text"></label>
    </div>
</div>